In [1]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [5]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [6]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [7]:
obj2['California'] == None

False

In [8]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [9]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [10]:
obj3['California']

True

In [11]:
x = obj2['California']
obj2['California'] != x

True

In [12]:
import math
math.isnan(obj2['California'])

True

In [13]:
df = pd.DataFrame([[1,2,3,4],[5,1,2,3],[1,5,6,7],[3,4,5,6]])
df

   0  1  2  3
0  1  2  3  4
1  5  1  2  3
2  1  5  6  7
3  3  4  5  6

In [17]:
df.rename(index ={0 : 'Ohio',1:'Colorado',2:'Utah',3:'New York'}, columns = {0:'one',1:'two',2:'three',3:'four'}, inplace = True)
df

          one  two  three  four
Ohio        1    2      3     4
Colorado    5    1      2     3
Utah        1    5      6     7
New York    3    4      5     6

In [19]:
df.drop('two', axis = 1)

          one  three  four
Ohio        1      3     4
Colorado    5      2     3
Utah        1      6     7
New York    3      5     6

In [20]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [21]:
s2[1]

2

In [22]:
s2.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [23]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])

In [24]:
s1.append(s2)

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64

In [ ]:
Answers:
1 - A
2 - C
3 - D
4 - A
5 - D
6 - A
7 - D
8 - A
9 - A
10 -A