In [1]:
x=3
type(x)

int

In [2]:
data = [1,2]
type(data)

list

In [3]:
data2 = (1,2,3)
type(data2)

tuple

In [4]:
data3 = [1,'df',5,'rt']
for i in data3:
    print(i)

1
df
5
rt

In [5]:
print(data3[0])

1

In [6]:
5 in data3

True

In [7]:
6 in data3

False

In [8]:
df in data3

NameError: name 'df' is not defined

In [9]:
'df' in data3

True

In [10]:
'fg' in data3

False

In [11]:
'df' in data2

False

In [12]:
data3.append('fg')

In [13]:
'fg' in data3

True

In [14]:
print(data3)

[1, 'df', 5, 'rt', 'fg']

In [15]:
data4 = data + data3

In [16]:
print(data4)

[1, 2, 1, 'df', 5, 'rt', 'fg']

In [17]:
data4[:4]

[1, 2, 1, 'df']